# Ignorar todo por defecto
*

# Permitir archivos .v, .ini, .ipynb, .one, .pdf y carpetas específicas
!*.v
!*.ini
!*.ipynb
!*.one
!*.pdf

# No ignorar el archivo .gitignore
!.gitignore

# No ignorar las carpetas guias y .vscode
!guias/
!guias/**
!.vscode/
!parciales viejos/

# Ignorar el entorno virtual llamado ed_env
ed_env/

# Ignorar archivos de simulación y temporales en todas las carpetas
*.vcd
*.out
*.sconsign.dblite



